/target

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

.DS_Store

# VSCode
.vscode/

# Pyenv
.python-version

.dev
